@import "tailwindcss";

@theme {
  --breakpoint-qq: 360px;
  --breakpoint-cv: 510px;
  --breakpoint-md: 765px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1240px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;
}

@theme {
  --breakpoint-m: 350px;
  --breakpoint-d: 600px
}
